<html>

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css" crossorigin="anonymous">

  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="css/bootstrap-theme.min.css" crossorigin="anonymous"> -->


</head>

<body>
  <div class="container">
    <div class="jumbotron">Serving HTML</div>
  </div>


  <script src="/js/jquery.min.js" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>

</html>